
<div class="banner" style="background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.barainnovations.com%2Fpost%2Fhistoire-airbnb-anecdote-succ%25C3%25A8s&psig=AOvVaw1MnMqaNh19n9O31c08EZyF&ust=1647700250101000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCKio6fbvz_YCFQAAAAAdAAAAABAD);">
</div>
  <%= link_to "Appartements",flats_path %>
<h1>HOMEPAGE</h1>
<p>Find me in app/views/pages/home.html.erb</p>
